body
{
	background-image: url("https://image.freepik.com/free-photo/abstract-color-pastel-background-a-soft-sky-with-cloud-background-in-pastel-color_6529-37.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;

}

a
{
	border: 2px solid black;
}

a:hover
{
	color: blue;
	font-size: 14pt;
}

div
{
	margin: auto;
    width: 40%;
    border: 3px solid black;   
    padding: 50px 0;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -350px;
}